body {
    width: 100%;
    min-width: 320px;
    max-width: 1080px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5;
    height: 2000px;
}


/*点击高亮我们需要清除清除  设置为transparent 完成透明*/

* {
    -webkit-tap-highlight-color: transparent;
}


/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/

input {
    -webkit-appearance: none;
}


/*禁用长按页面时的弹出菜单*/

img,
a {
    -webkit-touch-callout: none;
}

a {
    color: #666;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    vertical-align: middle;
}

.clearfix:after {
    content: "";
    display: block;
    line-height: 0;
    visibility: hidden;
    height: 0;
    clear: both;
}

ul {
    padding: 0;
    margin: 0;
    height: 100%;
}

li {
    list-style: none;
}

header {
    height: 45px;
    color: #fff;
}


header ul li {
    float: left;
    height: 100%;
    background-color: #333333;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}

header ul li img {
    vertical-align: middle;
}

header ul li:nth-child(1) {
    width: 8%;
}

header ul li:nth-child(1) img {
    width: 10px;
}

header ul li:nth-child(2) {
    width: 10%;
}

header ul li:nth-child(2) img {
    width: 30px;
}

header ul li:nth-child(3) {
    width: 57%;
}

header ul li:nth-child(4) {
    width: 25%;
    background-color: #F63515;
}

/* 头部搜索栏区域 */

.head_search {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 44px;
    min-width: 320px;
    max-width: 1080px;
}

.search_icon {
    position: absolute;
    width: 40px;
    height: 100%;
    top: 0;
    left: 0;
}

.search_icon span {
    display: block;
    width: 20px;
    height: 18px;
    background: url(../images/s-btn.png) no-repeat;
    background-size: 100%;
    margin: 14px 0 0 15px;
}

.search_login {
    position: absolute;
    width: 40px;
    height: 100%;
    right: 0;
    top: 0;
}

.search_login span {
    display: block;
    width: 28px;
    height: 21px;
    margin: 10px 0;
}

.search_form {
    position: relative;
    height: 30px;
    margin: 7px 50px 0 50px;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
}

.form_icon {
    position: absolute;
    width: 20px;
    height: 15px;
    top: 7px;
    left: 13px;
    background: url(../images/jd.png);
    background-size: 20px 15px;
}

.form_icon::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    top: 0;
    left: 28px;
    background-color: #ccc;
}

.form_sou {
    position: absolute;
    width: 18px;
    height: 15px;
    top: 7px;
    left: 51px;
    background: url(../images/jd-sprites.png) no-repeat -83px 0;
    background-size: 200px;
}

/* 没有定位的盒子居中 用父盒子高度的一般减去子盒子高度的一般作为上外边距 */
.search_form input {
    position: absolute;
    width: 100%;
    height: 16px;
    top: 7px;
    left: 71px;
    border: 0;
    font-size: 12px;
    color: #232326;
    box-sizing: border-box;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
    outline: 0;
}

/* 主体内容部分 */

/* 轮播图部分 */

.slider {
    width: 100%;
}

.slider img {
    width: 100%;
}

/* 家电品牌日 */
.brand div {
    float: left;
    width: 33.333333%;
}

.brand div img {
    width: 100%;
}

/* 导航栏部分 */
nav a {
    float: left;
    width: 20%;
    text-align: center;
}

nav a p {
    margin: 0;
}

nav a img {
    width: 40px;
    height: 40px;
    margin: 10px 0;
}

/* 新闻模块 */
.news a {
    position: relative;
    float: left;
    width: 25%;
}

.news a::after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 0.5px;
    height: 100%;
    background-color: #ccc;
}

.news a:nth-child(1) {
    width: 50%;
}

.news a:nth-child(3)::after {
    content: none;
}

.news a img {
    width: 100%;
}