@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1660380903693') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
  content: "\e6b4";
}

.icon-search:before {
  content: "\e82e";
}

